h1 {
    text-align: center;
    text-shadow: royalblue;
    color: black;
    }
    
    #error-message {        
        color: red;        
        text-align: center;
      }

      #location {
        color: rgb(26, 95, 49);        
        text-align: center;

      }

      #device-lat {
        color: rgb(26, 95, 49);
        text-align: center;

      }

      #device-long {
        color: rgb(26, 95, 49);
        text-align: center;

      }

